<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register - GIFTIER</title>
    <link rel="stylesheet" href="../css/register_style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div id="registerBox">
        <div id="titlehead">
            <p >Get started with</p  >
            <h1 >Giftier</h1>
        </div>
        <form id="registerForm" action="../actions/register_user_action.php" method="POST" enctype="multipart/form-data">
            <div class="group">
                <div class="form-group">
                    <label for="firstName">First Name</label>
                    <input type="text" id="firstName" name="firstName" required placeholder="Richard">
                </div>
                <div class="form-group">
                    <label for="lastName">Last Name</label>
                    <input type="text" id="lastName" name="lastName" required placeholder="Yeboah">
                </div>
            </div>
            <div class="group">
                <div class="form-group">
                    <label for="email">Email </label>
                    <input type="email" id="email" name="email" pattern="[a-zA-Z0-9._%+-]+@ashesi\.edu\.gh$" required placeholder="you@giftier.com">
                </div>
                <div class="form-group">
                    <label for="contactNumber">Contact Number</label>
                    <input type="tel" id="contactNumber" name="contactNumber" placeholder="+233123456789" required>
                </div>
                </div>

            <div class="group">
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="passwd" required placeholder="********">
                </div>
                <div class="form-group">
                    <label for="password">Confirm Password</label>
                    <input type="password" id="retype" name="repassword" required placeholder="********">
                </div>
            </div>
            <div class="group">
                <div class="form-group">
                    <label for="country">Country</label>
                    <input type="text" id="country" name="country" required>
                </div>
                <div class="form-group">
                    <label for="city">City</label>
                    <input type="text" id="city" name="city" required>
                </div>
            </div>
            <div class="group">
                <div class="form-group">
                    <label for="userRole">User Role</label>
                    <select id="userRole" name="userRole">
                        <option value="1">Customer</option>
                        <option value="2">Artisan</option>
                    </select>
                </div>
                <div class="form-group" id ="picture">
                    <label for="profilePicture">Profile Picture</label>
                    <input type="file" id="profilePicture" name="profilePicture" accept="image/*" required>
                </div>
            </div>

            <div id="terms" class="form-group">
                <input type="checkbox" id="terms-checkbox" name="terms" required>
                <label for="terms-checkbox">I agree to the terms and conditions</label>
            </div>
            <div id="submitRegister">
                <button type="submit">Register</button>
            </div>
        </form>
        <p>Already have an account? <a href="../index.html">Login</a></p>
    </div>
    
    <script src="../js/registration-validation-script.js"></script>
</body>
</html>